* {
  box-sizing: border-box; 
  margin: 0;              
  padding: 0;             
  font-family: 'Inter', Arial, sans-serif; 
}


body {
  background: linear-gradient(to right, #004d7a, #008793); 
  min-height: 100vh;      
  color: #333;            
  font-family: 'Inter', Arial, sans-serif; 
  overflow-x: hidden;     
}


.container {
  background-color: #fff;
  padding: 40px 40px 20px 40px; /* top, right, bottom, left */
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  width: 90%;
  max-width: 600px; /* aumente aqui, por exemplo para 500px */
  margin: 60px auto 0;
  color: #333;
  text-align: center;
}


h1, h2, h3 {
  color: #004d7a;         
  margin-bottom: 32px;    
  text-align: center;     
}

h1 {
  margin-top: -45px;
}

form {
  display: flex;          
  flex-direction: column; 
  gap: 15px;              
}


label {
  text-align: left;       
  font-weight: 600;       
  font-size: 14px;        
}


input, select, textarea {
  padding: 10px;          
  border: 1px solid #ccc; 
  border-radius: 8px;     
  font-size: 14px;        
  font-family: inherit;   
}


button {
  padding: 12px 24px;     
  background-color: #008793; 
  color: white;           
  border: none;           
  border-radius: 8px;     
  cursor: pointer;       
  font-size: 16px;        
  transition: background 0.3s; 
  background: linear-gradient(90deg, #2980b9 0%, #6dd5fa 100%);
  box-shadow: 0 1px 6px rgba(44,62,80,0.07);
  transition: background 0.2s, transform 0.2s;
}


button:hover {
  background: linear-gradient(90deg, #1c5980 0%, #2980b9 100%);
  transform: translateY(-2px) scale(1.03);
}


a {
  color: #008793;         
  text-decoration: none;  
}

a:hover {
  text-decoration: underline; 
}

p {
  margin-top: 12px;
  margin-bottom: 2px;  /* diminui o espaço abaixo */
  font-size: 14px;
}


#loginMessage {
  margin-top: 10px;       
  font-weight: bold;      
}


.hidden {
  display: none !important; 
}


/* estilização do botão esqueceu a senha */

.esqueceu-senha-link {
  display: block;
  margin-top: -5px;         /* diminui o espaço acima */
  margin-left: 0;          /* garante alinhamento à esquerda */
  width: fit-content;      /* só ocupa o necessário */
  text-align: left;
  font-size: 14px;
  color: #004d7a; 
  text-decoration: none;
  padding-left: 0;         /* remove recuo extra */
}

.esqueceu-senha-link:hover {
  color: #004d7a;
  text-decoration: underline;
}

/*imagem da logo */
.img{
width: 130px;
height: auto;
margin-top: -33px;
margin-bottom: -35px;
margin-right: 400px;
}